body {
  font-family: "Abril Fatface", cursive;
  background: url(https://static.vecteezy.com/system/resources/previews/004/536/530/large_2x/modern-white-brick-wall-texture-for-background-weathered-abstract-white-brick-walls-stone-blocks-horizontal-architecture-technologies-wallpaper-photo.jpg);
  padding: 100px 0;
}
h3 {
  margin-bottom: 10px;
}
.container {
  width: 1300px;
  min-height: 700px;
  border: 15px solid whitesmoke;
  margin: 0 auto;
  background: white;
}
.header {
  display: flex;
  height: 190px;
}
.title {
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url(https://rare-gallery.com/uploads/posts/505146-Free-stock-photos.jpg)
    no-repeat center center;
  color: yellow;
  margin-right: 10px;
}
.userpic {
  display: flex;
  height: 100%;
  width: 20%;
  background: url(https://sun9-29.userapi.com/impg/3GDeBkP13YLwqaUT4G3fXxYhvQQnlwJkmvFB9g/d5cSgITHsGA.jpg?size=640x640&quality=95&sign=c6cfb6aa6e51047ca17179d1068dd263&type=album)
    no-repeat center center / cover;
}
.navi ul {
  display: flex;
  background: rgb(201, 186, 186);
  list-style-type: none;
  margin: 10px 0;
}
.navi li a {
  padding: 20px;
  display: flex;
  text-decoration: none;
  color: #414141;
  font-weight: bold;
  border-right: 1px solid #414141;
  transition: background 0.5s ease;
}
.navi li a:hover {
  background: rgb(139, 118, 118);
}
.content-wrapp {
  display: flex;
}
.content {
  width: 60%;
  padding: 20px;
  background: rgb(228, 228, 255);
}
.sidebar {
  width: 40%;
  padding: 20px;
  background: rgb(255, 243, 243);
}
.sidebar ul {
  list-style-type: none;
  text-align: right;
}
.skills li {
  margin: 10px 0;
  transition: transform 0.5s ease;
}
.skills li:hover {
  margin: 10px 0;
  transform: translateX(10px);
}
.fin {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
}
